[Unit]
Description= SystemD Exporter Service
After=network.target

[Service]
ExecStartPre=/bin/sleep 5
Type=simple
ExecStart=/opt/prometheus/systemd_exporter/start.sh
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target